 /* Adjustments for sidebar */
 .sidebar {
    position: fixed;
    top: 66px; /* Adjust the top position to move it down from the header */
    bottom: 0;
    left: 0;
    z-index: 1000;
    padding: 20px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  }

  .sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 56px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto;
  }

  /* Add some style to the menu items */
  .nav-link {
    padding: 10px;
    transition: background-color 0.3s;
    display: flex;
    align-items: center; /* Align items vertically */
    color: #000; /* Set text color to black */
    position: relative; /* Set position to relative for the pseudo-element */
  }

  .nav-link:hover {
    background-color: #f8f9fa;
  }

  .nav-link:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px; /* Height of the underline */
    background-color: #ccc; /* Color of the underline */
  }

  /* Add commas between menu items */
  .nav-item:not(:last-child) {
    margin-bottom: 8px;
  }

  /* Style the dropdown */
  .dropdown-menu {
    border-radius: 0;
  }

  /* Adjust font size and weight */
  .nav-link i,
  .nav-link span {
    margin-right: 8px; /* Adjust the space between icon and text */
    font-size: 18px; /* Adjust font size */
    font-weight: bold; /* Adjust font weight */
  }


    .btn-info {
        color: #fff;
        background-color: #17a2b8;
        border-color: #17a2b8;
    }

    .btn-info:hover {
        background-color: #138496;
        border-color: #117a8b;
    }
